version: '3'

services:
  db:
    image: mongo:5
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGODB_DATABASE: qpAlliance
    volumes:
      - ./mongo:/data/db
  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
volumes:
  redis_data:
