name: Deploy to Cloud Run

env:
  SERVICE_NAME: backend-api
  PROJECT_ID: encoded-pointer-484522-d6
  DOCKER_IMAGE_URL: us-east1-docker.pkg.dev/encoded-pointer-484522-d6/backend-api/backend-api

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Google Cloud Auth
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_BACKEND_API }}"
          project_id: ${{ env.PROJECT_ID }}

      - name: Set up Cloud SDK
        uses: "google-github-actions/setup-gcloud@v2"

      - name: Configure Docker
        run: |
          gcloud auth configure-docker us-east1-docker.pkg.dev

      - name: Build and Push Docker Image
        working-directory: backend
        run: |
          docker build -t $DOCKER_IMAGE_URL:latest .
          docker push $DOCKER_IMAGE_URL:latest

      - name: Deploy to Cloud Run
        run: |
          echo SERVICE_NAME $SERVICE_NAME
          gcloud run deploy $SERVICE_NAME \
            --image ${{ env.DOCKER_IMAGE_URL }}:latest \
            --platform managed \
            --region us-east1 \
            --allow-unauthenticated
